html {
    height: 100%;
}

body {
    position: fixed;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    user-select: none;
    background-color: #0D0D0D;
}

.notes {
    margin: auto;
    width: 90%;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.note {
    font-size: 6vw;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-right: 5vw;
    padding-left: 2vw;
}

.note.active {
    color: #fa545c;
}

.notes-list {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notes-list::-webkit-scrollbar {
    display: none;
}

.note span {
    position: absolute;
    right: 0.25em;
    font-size: 40%;
    font-weight: normal;
}

.note-sharp {
    top: 0.3em;
}

.note-octave {
    bottom: 0.3em;
}

.frequency {
    font-size: 4vw;
    color: #fa545c;
}

.frequency span {
    font-size: 50%;
    margin-left: 0.25em;
}

.meter {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 90%;
    max-width: 400px;
    height: 33%;
    margin: 0 auto 5vh auto;
}

.meter-pointer {
    width: 2px;
    height: 100%;
    background: #fa545c;
    transform: rotate(45deg);
    transform-origin: bottom;
    transition: transform 0.5s;
    position: absolute;
    right: 50%;
}

.meter-dot {
    width: 10px;
    height: 10px;
    background: #2c3e50;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: 50%;
    margin-right: -4px;
}

.meter-scale {
    width: 1px;
    height: 100%;
    transform-origin: bottom;
    transition: transform 0.2s;
    box-sizing: border-box;
    border-top: 10px solid;
    position: absolute;
    right: 50%;
}

.meter-scale-strong {
    width: 2px;
    border-top-width: 20px;
    color: #fa545c;
}

.frequency-bars {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .meter {
        width: 100%;
    }

    .notes {
        width: 100%;
    }

    .note {
        font-size: 8vw;
    }

    .frequency {
        font-size: 5vw;
    }
}

.swal-button {
    background: #2c3e50;
}

.a4 {
    position: absolute;
    top: 16px;
    left: 100px;
}

.a4 span {
    color: #fa545c;
}

.auto {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* Estilizando o span com a classe links_name */
li a .links_name {
    color: #12212f;
    /* Exemplo: cor branca */
}

/* Estilizando o span com a classe tooltip */
li .tooltip {
    color: #12212f;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*sidebar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #0D0D0D;
    padding: 6px 14px;
    z-index: 999;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: center;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #989CA6;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #989CA6;
    color: #ffffff;
}

.sidebar .bx-search:hover {
    background: #ffffff;
    color: #0D0D0D;
}

.sidebar.open .bx-search:hover {
    background: #989CA6;
    color: #ffffff;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #0D0D0D;
}

.sidebar li a:hover {
    background: #ffffff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #0D0D0D;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li.profile {
    position: fixed;
    height: 57.1px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #989CA6;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #989CA6;
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

/*sidebar*/


/*=============== manu mobile ===============*/

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(225, 95%, 56%);
    --black-color: hsl(225, 12%, 12%);
    --white-color: hsl(0, 0%, 100%);
    --text-color: hsl(225, 8%, 65%);
    --body-color: hsl(225, 100%, 99%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat Alternates", sans-serif;
    --biggest-font-size: 2.5rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: var(--black-color);
    width: 88%;
    margin-inline: auto;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color .4s;
}

.nav__link:hover {
    color: var(--white-color);
}

/*=============== EXPAND LIST ===============*/
.nav__expand {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    border-radius: 50%;
    cursor: pointer;
}

.nav__expand-icon {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform .4s;
}

.nav__expand-list {
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    width: max-content;
    margin-inline: auto;
    padding: .5rem 1.5rem;
    border-radius: 4rem;
    display: flex;
    column-gap: 2rem;
    z-index: -1;
    overflow: hidden;
    transform: translateY(5rem) scale(.1);
    transition: transform .5s cubic-bezier(.5, 1.8, .4, .8);
}

.nav__expand-list li {
    transform: translateY(-3rem);
    transition: transform .4s;
}

.nav__expand-list li:nth-child(1) {
    transition-delay: .2s;
}

.nav__expand-list li:nth-child(2) {
    transition-delay: .3s;
}

.nav__expand-list li:nth-child(3) {
    transition-delay: .4s;
}

.nav__expand-link {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color .4s;
}

.nav__expand-link i {
    font-size: 1.5rem;
}

.nav__expand-link span {
    font-size: var(--tiny-font-size);
    font-weight: var(--font-semi-bold);
}

.nav__expand-link:hover {
    color: var(--white-color);
}

/* Show list */
.show-list,
.show-list li {
    transform: translateY(0);
}

/* Rotate icon */
.rotate-icon {
    transform: rotate(135deg);
}

/* Active link */
.active-link {
    color: var(--white-color);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 450px) {
    .nav {
        width: 350px;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .notes {
        max-width: 250px;
    }

    .a4 {
        left: 15px;
    }

}

@media screen and (min-width: 769px) {
    .nav {
        display: none;
    }

}