* {
    font-family: "Poppins", sans-serif;
}

.vinyl-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card-vinil {
        margin-bottom: 30px;
        text-align: center;
        transition: transform 0.3s;
        cursor: pointer;
    }

    .card-vinil:hover {
        transform: translateY(-10px);
    }

    .card-vinil a {
        display: block;
        position: relative;
        text-decoration: none;
        color: #333;
    }

    .card-vinil h3 {
        margin-top: 15px;
        font-size: 18px;
    }

    .card-vinil p {
        color: #ffffff;
        font-size: 14px;
        margin-top: 8px;
    }

    .record_case {
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        perspective: 1800px;
        position: relative;
        margin: 0 auto;
        width: 269px;
        height: 269px;
    }

    .record {
        position: absolute;
        width: 100%;
        height: 269px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .40s;
        -moz-transition: -moz-transform .40s;
        transition: transform .40s;
        animation: spin 9s linear infinite;
        -webkit-animation: spin 9s linear infinite;
        -moz-animation: spin 9s linear infinite;
        -o-animation: spin 9s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
        }
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotateY(0deg);
        }

        to {
            -webkit-transform: rotateY(360deg);
        }
    }

    @-moz-keyframes spin {
        from {
            -moz-transform: rotateY(0deg);
        }

        to {
            -moz-transform: rotateY(360deg);
        }
    }

    @-o-keyframes spin {
        from {
            -o-transform: rotateY(0deg);
        }

        to {
            -o-transform: rotateY(360deg);
        }
    }

    .record>div,
    .front>div {
        display: block;
        position: absolute;
    }

    .front {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        -moz-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        transition: transform .5s;
        -webkit-transform: translate3d(0, 0, 5px);
        -moz-transform: translate3d(0, 0, 5px);
        transform: translate3d(0, 0, 5px);
        z-index: 10;
    }

    .front>div {
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .front,
    .back,
    .front>div {
        width: 269px;
        height: 269px;
    }

    .left,
    .right {
        width: 10px;
        left: -5px;
    }

    .top,
    .bottom {
        width: 269px;
        height: 10px;
        top: -5px;
    }

    .back {
        -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 5px);
        -moz-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 5px);
        transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 5px);
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
        border-radius: 3px 0 0 3px;
    }

    .right {
        height: 269px;
        -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 269px);
        -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 269px);
        transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 269px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .left {
        height: 269px;
        -webkit-transform: rotate3d(0, 1, 0, -90deg);
        -moz-transform: rotate3d(0, 1, 0, -90deg);
        transform: rotate3d(0, 1, 0, -90deg);
    }

    .top {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        -moz-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
    }

    .bottom {
        -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 269px);
        -moz-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 269px);
        transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 269px);
    }

    .back {
        z-index: 10;
    }

    .card-vinil img {
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px 0 0 3px;
        object-fit: cover;
    }

    .front,
    .back,
    .right,
    .left,
    .top,
    .bottom {
        background-color: #000000;
    }

    .viewback {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0px);
        -moz-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0px);
        transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0px);
    }

    .vinyl {
        height: 260px;
        width: 260px;
        background: black;
        border-radius: 50%;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: left 1s;
        -moz-transition: left 1s;
        -o-transition: left 1s;
        transition: left 1s;
        left: 0;
    }

    .vinyl:before {
        display: block;
        content: "";
        height: 5px;
        width: 5px;
        background: black;
        border-radius: 50%;
        position: absolute;
        left: 136px;
        top: 136px;
        z-index: 2;
    }

    .vinyl:after {
        display: block;
        content: "";
        height: 80px;
        width: 80px;
        background: #F0EAD6;
        border-radius: 50%;
        position: relative;
        left: 90px;
        top: 90px;
        box-shadow: 0 0 0 5px black, 0 0 0 6px #616161,
            0 0 0 11px black, 0 0 0 12px #616161,
            0 0 0 17px black, 0 0 0 18px #616161,
            0 0 0 23px black, 0 0 0 24px #616161,
            0 0 0 29px black, 0 0 0 30px #616161,
            0 0 0 35px black, 0 0 0 36px #616161,
            0 0 0 41px black, 0 0 0 42px #616161,
            0 0 0 47px black, 0 0 0 48px #616161,
            0 0 0 53px black, 0 0 0 54px #616161,
            0 0 0 59px black, 0 0 0 60px #616161,
            0 0 0 65px black, 0 0 0 66px #616161,
            0 0 0 71px black, 0 0 0 72px #616161,
            0 0 0 77px black, 0 0 0 78px #616161,
            0 0 0 83px black, 0 0 0 84px #616161;
    }

    .record:hover .vinyl {
        left: 120px;
    }

    .record:hover .right {
        display: none;
    }

    .record:hover .front {
        transform: rotate3d(0, 1, 0, -140deg) translate3d(0, 0, 5px);
    }

    .genre-label {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 12px;
        z-index: 20;
    }

    .button {
        margin-top: 15px;
        padding: 8px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #555;
    }


    .music-count {
    font-size: 0.9em;
    color: #555;
    margin-top: 6px;
}