<footer>
    <div class="content1">
        <div class="topFooter">
            <div class="logo-details" style="display: flex; align-items: center; gap: 10px;">
                <img src="../images/LogoTocaí.webp" alt="Logo Tocaí" class="logo-image"
                    style="height: auto; width: 90px;">
            </div>

            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="link-boxes">
            <ul class="box">
                <li class="link_name">Aprenda</li>
                <li><a href="/acordes">Acordes</a></li>
                <li><a href="/teoria">Teoria Musical</a></li>
                <li><a href="/artistas-e-bandas">Artistas & Bandas</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Ferramentas</li>
                <li><a href="/mapa-de-acordes">Mapa de Acordes</a></li>
                <li><a href="/metronomo">Metrônomo</a></li>
                <li><a href="/afinador">Afinador</a></li>
                <li><a href="/montador-de-cifras">Montador de Cifras</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Conta</li>
                <li><a href="#">Em Breve ...</a></li>
            </ul>
            <ul class="box">
                <li class="link_name">Sobre o Site</li>
                <li><a href="#">HTML & CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Fotografia</a></li>
                <li><a href="#">Photoshop</a></li>
            </ul>
            <ul class="box input-box">
                <li class="link_name">Inscreva-se</li>
                <li><input type="text" placeholder="Digite seu e-mail"></li>
                <li><input type="button" value="Inscrever-se"></li>
            </ul>
        </div>
    </div>
    <div class="divider1"></div>
    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright © 2025 <a href="/">TocaíStudio.</a> Todos os direitos
                reservados</span>
            <span class="policy_terms">
                <a href="#">Política de privacidade</a>
                <a href="#">Termos e condições</a>
            </span>
        </div>
    </div>
</footer>