<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

<div class="nav">
    <ul class="nav__list">
        <li>
            <a href="/" class="nav__link active-link" aria-label="">
                <i class="ri-arrow-left-line"></i>
            </a>
        </li>

        <li>
            <a href="/" class="nav__link" aria-label="HarmonIA">
                <i class="ri-arrow-down-line"></i>
            </a>
        </li>

        <li>
            <a href="/" class="nav__link" aria-label="">
                <i class="ri-play-circle-line"></i>
            </a>
        </li>

        <li>
            <a href="/" class="nav__link" aria-label="">
                <i class="ri-play-circle-line"></i>
            </a>
        </li>

        <li>
            <button class="nav__expand" id="nav-expand" aria-label="">
                <i class="ri-book-line nav__expand-icon" id="nav-expand-icon"></i>
            </button>

            <ul class="nav__expand-list" id="nav-expand-list">
                <li>
                    <a href="/" class="nav__expand-link">
                        <i class="ri-music-line"></i>
                        <span>Afinador</span>
                    </a>
                </li>

                <li>
                    <a href="/" class="nav__expand-link">
                        <i class="ri-music-2-line"></i>
                        <span>Metrônomo</span>
                    </a>
                </li>
                <li>
                    <a href="/" class="nav__expand-link">
                        <i class="ri-music-2-line"></i>
                        <span>Teoria Musical</span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</div>