<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

<style>
    .nav__expand-list {
        padding: 15px;
    }
</style>

<div class="nav">
    <ul class="nav__list">
        <li>
            <a class="nav__link" aria-label="Ouvir">
                <i class="ri-play-circle-line"></i>
            </a>
        </li>

        <li>
            <!-- Botão de rolagem -->
            <button class="nav__expand" id="nav-expand-scroll" aria-label="Rolagem">
                <i class="ri-scroll-to-bottom-line nav__expand-icon" id="nav-expand-icon-scroll"></i>
            </button>

            <ul class="nav__expand-list" id="nav-expand-list-scroll">
                <li>
                    <a class="nav__expand-link" id="auto-scroll-toggle">
                        <i class="ri-play-line" id="auto-scroll-icon"></i>
                    </a>
                </li>
                <li>
                    <a class="nav__expand-link">
                        <i class="ri-add-line"></i>
                    </a>
                </li>
                <li>
                    <!-- Barra deslizante -->
                    <input type="range" min="1" max="10" value="5" id="auto-scroll-speed" style="width: 100px;">
                </li>
                <li>
                    <a class="nav__expand-link">
                        <i class="ri-subtract-line"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#metronomo" class="nav__link" aria-label="Metronomo">
                <i class="ri-timer-line"></i>
            </a>
        </li>

        <li>
            <a href="#afinador" class="nav__link" aria-label="Afinador">
                <i class="ri-rfid-line"></i>
            </a>
        </li>

        <li>
            <!-- Botão de +/- tom -->
            <button class="nav__expand" id="nav-expand-tom" aria-label="+/- tom">
                <i class="ri-menu-add-line nav__expand-icon" id="nav-expand-icon-tom"></i>
            </button>

            <ul class="nav__expand-list" id="nav-expand-list-tom">
                <li>
                    <a class="nav__expand-link">
                        <i class="ri-add-line"></i> <span>Aumentar</span>
                    </a>
                </li>
                <li>
                    <a class="nav__expand-link">
                        <i class="ri-subtract-line"></i> <span>Diminuir</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>