<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">TocaíStudio</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <!-- Pesquisar -->
        <li>
            <i class='bx bx-search'></i>
            <input type="text" id="sidebar-search-input" placeholder="Pesquisar músicas...">
            <span class="tooltip">Pesquisar</span>
        </li>

        <li>
            <a href="/">
                <i class='bx bx-home'></i>
                <span class="links_name">Início</span>
            </a>
            <span class="tooltip">Início</span>
        </li>
        <li>
            <a href="/artistas-e-bandas">
                <i class='bx bx-group'></i>
                <span class="links_name">Artistas & Bandas</span>
            </a>
            <span class="tooltip">Artistas & Bandas</span>
        </li>
        <li>
            <a href="/tocaimusic">
                <i class='bx bx-play-circle'></i>
                <span class="links_name">Tocaí Play</span>
            </a>
            <span class="tooltip">Tocaí Play</span>
        </li>

        <li>
            <a href="https://harmon-ia-tocaistudio.vercel.app">
                <i class='bx bx-brain'></i>
                <span class="links_name">HarmonIA</span>
            </a>
            <span class="tooltip">HarmonIA</span>
        </li>

        <li>
            <a href="/acordes">
                <i class='bx bx-music'></i>
                <span class="links_name">Acordes</span>
            </a>
            <span class="tooltip">Acordes</span>
        </li>
        <li>
            <a href="/teoria">
                <i class='bx bx-book-open'></i>
                <span class="links_name">Teoria Musical</span>
            </a>
            <span class="tooltip">Teoria Musical</span>
        </li>

        <!-- Ferramentas -->
        <li class="nav-category">Ferramentas</li>
        <li>
            <a href="/afinador">
                <i class='bx bx-timer'></i>
                <span class="links_name">Afinador</span>
            </a>
            <span class="tooltip">Afinador</span>
        </li>
        <li>
            <a href="/metronomo">
                <i class='bx bx-time'></i>
                <span class="links_name">Metrônomo</span>
            </a>
            <span class="tooltip">Metrônomo</span>
        </li>
        <li>
            <a href="/montador-de-cifras">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Montador de Cifras</span>
            </a>
            <span class="tooltip">Montador de Cifras</span>
        </li>
        <li>
            <a href="/mapa-de-notas">
                <i class='bx bx-map'></i>
                <span class="links_name">Mapa de Notas</span>
            </a>
            <span class="tooltip">Mapa de Notas</span>
        </li>

        <!-- Configurações -->
        <li class="nav-category">Sistema</li>
        <li>
            <a href="/config">
                <i class='bx bx-cog'></i>
                <span class="links_name">Configurações</span>
            </a>
            <span class="tooltip">Configurações</span>
        </li>
        <li>
            <a href="/config">
                <i class='bx bx-help-circle'></i>
                <span class="links_name">Ajuda</span>
            </a>
            <span class="tooltip">Ajuda</span>
        </li>

        <!-- Versão / Footer -->
        <li class="site-version">
            <div class="version-details">
                <img src="../images/LogoTocaí.webp" alt="Imagem de perfil">
                <div class="text">
                    <div class="name">TocaíStudio</div>
                    <div class="version-number">Versão v2.0.0</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>