* {
    font-family: "Poppins", sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D0D0D;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #00bcd4;
    font-weight: bold;
}

.bpm-display .tempo {
    font-size: 4em;
}

.tempo-text {
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: #00bcd4;
    color: #fff;
}

.tempo-settings .decrease-tempo {
    line-height: 25px;
}

.tempo-settings .increase-tempo {
    line-height: 32px;
}

.increase-tempo {
    color: white;
    /* Deixa o texto/brilho do botão branco */
}

.subtract-beats,
.add-beats,
.decrease-tempo {
    color: white;
    /* Fundo branco */
}



input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00bcd4;
    cursor: pointer;
    margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00bcd4;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.start-stop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #00bcd4;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.start-stop:hover {
    background: #00bcd4;
}

.measures {
    display: flex;
    justify-content: center;
}

.measure-count {
    color: #ffffff;
}



.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.measures .stepper:hover {
    background: #00bcd4;
    color: #fff;
}

.measures .add-beats {
    line-height: 20px;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
}

body.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

.metronome.dark-mode {
    background-color: #444;
    border-color: #666;
}

.bpm-display.dark-mode .tempo {
    color: #00bcd4;
}

.tempo-text.dark-mode,
.beats-per-measure-text.dark-mode {
    color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    background: #00bcd4;
}

input[type="range"]::-moz-range-thumb {
    background: #00bcd4;
}

.start-stop.dark-mode {
    background: #00bcd4;
}

.start-stop.dark-mode:hover {
    background: #00bcd4;
}

.measures .stepper.dark-mode {
    background: #555;
    border: 1px solid #666;
}

.measures .stepper.dark-mode:hover {
    background: #00bcd4;
    color: #fff;
}





body.in-iframe .nav,
body.in-iframe .beats-per-measure-text {
    display: none !important;
}

body.in-iframe .metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    margin: auto;
}



body.in-iframe .tempo {
    font-size: 24px;
    font-weight: bold;
}

body.in-iframe .bpm {
    font-size: 12px;
}

body.in-iframe .tempo-text {
    font-size: 12px;
    color: #888;
    text-align: center;
}

body.in-iframe .tempo-settings {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}

body.in-iframe .start-stop {
    padding: 6px 12px;
    font-size: 8px;
    color: #000000;
    cursor: pointer;
    text-align: center;
}