<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

<div class="nav">
    <ul class="nav__list">
        <li>
            <a href="/" class="nav__link active-link">
                <i class="ri-home-2-line"></i>
            </a>
        </li>

        <li>
            <a href="/harmon-ia" class="nav__link">
                <i class="ri-brain-line"></i>
            </a>
        </li>

        <li>
            <a href="/artistas-e-bandas" class="nav__link">
                <i class="ri-search-line"></i>
            </a>
        </li>

        <li>
            <a href="/tocaimusic" class="nav__link">
                <i class="ri-play-circle-line"></i>
            </a>
        </li>

        <li>
            <button class="nav__expand" id="nav-expand">
                <i class="ri-book-line nav__expand-icon" id="nav-expand-icon"></i>
            </button>

            <ul class="nav__expand-list" id="nav-expand-list">
                <li>
                    <a href="/acordes" class="nav__expand-link">
                        <i class="ri-music-line"></i>
                        <span>Acordes</span>
                    </a>
                </li>

                <li>
                    <a href="/teoria" class="nav__expand-link">
                        <i class="ri-music-2-line"></i>
                        <span>Teoria Musical</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>