<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">TocaíStudio</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" id="sidebar-search-input" placeholder="Pesquisar músicas...">
            <span class="tooltip">Pesquisar</span>
        </li>
        <li>
            <a href="/">
                <i class='bx bx-home'></i>
                <span class="links_name">Início</span>
            </a>
            <span class="tooltip">Início</span>
        </li>
        <li>
            <a href="/artistas-e-bandas">
                <i class='bx bx-group'></i>
                <span class="links_name">Artistas & Bandas</span>
            </a>
            <span class="tooltip">Artistas & Bandas</span>
        </li>
        <li>
            <a href="/tocaimusic">
                <i class='bx bx-play-circle'></i>
                <span class="links_name">Tocaí Play</span>
            </a>
            <span class="tooltip">Tocaí Play</span>
        </li>
        <li>
            <a href="/harmon-ia">
                <i class='bx bx-brain'></i>
                <span class="links_name">HarmonIA</span>
            </a>
            <span class="tooltip">HarmonIA</span>
        </li>
        <li>
            <a href="/acordes">
                <i class='bx bx-music'></i>
                <span class="links_name">Acordes</span>
            </a>
            <span class="tooltip">Acordes</span>
        </li>
        <li>
            <a href="/teoria">
                <i class='bx bx-book-open'></i>
                <span class="links_name">Teoria Musical</span>
            </a>
            <span class="tooltip">Teoria Musical</span>
        </li>
        <li>
            <a href="/config">
                <i class='bx bx-cog'></i>
                <span class="links_name">Configurações</span>
            </a>
            <span class="tooltip">Configurações</span>
        </li>
        <li class="site-version">
            <div class="version-details">
                <img src="../images/LogoTocaí.webp" alt="Imagem de perfil">
                <div class="text">
                    <div class="name">TocaíStudio</div>
                    <div class="version-number">Versão v2.0.0</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>